<template>
  <div class="home container">
  	<div class="row">
  		<center>
  			<h1> Welcome. </h1>
  		</center>
  	</div>

  	<div class="row description-row">
  		<div class="col-md-3 offset-md-1">
  			<div class="container description-box">
  				<div class="row">
					<img src="@/assets/document.svg" width="50%">
  				</div>
  				<div class="row">
  					<h5>Research Files</h5>
  				</div>
  				<div class="row">
					<p>
						Upload and Download Research data files from a variety of Projects in various departments
					</p>
  				</div>
  			</div>
  		</div>

  		<div class="col-md-3 offset-md-1">
  			<div class="container description-box">
  				<div class="row">
  					<img src="@/assets/padlock.svg" width="50%">
  				</div>
  				<div class="row">
  					<h5>Secure</h5>
  				</div>
  				<div class="row">
  					Upload files securely using Identity-based Encryption
  				</div>
  			</div>
  		</div>

  		<div class="col-md-3 offset-md-1">
  			<div class="container description-box">
  				<div class="row">
  					<img src="@/assets/shared-folder.svg" width="50%">
  				</div>
  				<div class="row">
  					<h5>Share</h5>
  				</div>
  				<div class="row">
  					Grant access to your research projects a variety of other researchers within the institution
  				</div>
  			</div>
  		</div>
  	</div>
    
    <div class="row" style="margin-top: 5%">
    	<div class="col-md-12">
    		<center>
	    		<router-link to="/signup">
	    			<button class="btn btn-primary signup-btn">
						Sign up
					</button>
    			</router-link>
	    	</center>	
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-12">
    		<center>
	    		<router-link to="/login">
	    			<button class="btn login-btn">
	    				Login
    				</button>
    			</router-link>
	    	</center>
    	</div>
    </div>
    
  </div>
</template>

<script>
export default {
  name: 'home',
};
</script>

<style>
	.signup-btn {
		font-size: 20px;
		padding-right: 5%;
		padding-left: 5%;
		margin-bottom: 2%;
	}
	.login-btn {
		border: 1px solid black;
		border-radius: 4px;
		padding-right: 5%;
		padding-left: 5%;
	}

	.description-row {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
</style>
