<template>
  <div class="container">
    <div class="row">
      <h3>Login</h3>
      <hr><br><br>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <alert :message="message" v-if="showMessage"></alert>
        <div class="login">
          <b-form @submit="onLogin" @reset="onLoginReset" class="w-100">
            <!-- User email group -->
            <b-form-group id="form-email-edit-group"
                          label="Email:"
                          label-for="form-email-edit-input">
              <b-form-input id="form-email-edit-input"
                            type="email"
                            v-model="user.email"
                            pattern=".*@.*\..*"
                            title="e.g. johndoe@gmail.com"
                            required
                            placeholder="Enter Email">
              </b-form-input>
            </b-form-group>
            <!-- User password group -->
            <b-form-group id="form-password-edit-group"
                          label="Password:"
                          label-for="form-password-edit-input">
              <b-form-input id="form-password-edit-input"
                            type="password"
                            v-model="user.password"
                            required
                            placeholder="Enter Password">
              </b-form-input>
            </b-form-group>

            <b-button class="b-form-button" type="submit" variant="primary">Login</b-button>
            <b-button class="b-form-button" type="reset">Reset</b-button>
          </b-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Alert from './Alert.vue';

export default {
  name: 'login',
  data() {
    return {
      user: {
        email: '',
        password: '',
      },
      message: '',
      showMessage: false,
    };
  },
  methods: {
    onLogin(evt) {
      evt.preventDefault();
      this.login();
    },
    onLoginReset(evt) {
      evt.preventDefault();
      this.user.email = '';
      this.user.password = '';
    },
    login() {
      const path = `${process.env.VUE_APP_PKG_SERVER_BASE_URL}/auth/login`;
      const loader = this.$loading.show({ container: null });

      axios.post(path, this.user)
        .then((res) => {
          this.$cookie.set('token', res.data.token);
          this.$parent.isLoggedOut = false;
          this.$cookie.set('name', res.data.name);
          this.$cookie.set('college', res.data.college);
          this.$cookie.set('school', res.data.school);
          this.$cookie.set('department', res.data.department);
          this.$router.push({ path: 'projects' });
        })
        .catch((err) => {
          console.log(err.response);
          if (err.response.status == 401) {
            this.message = 'Wrong password';
          } else {
            this.message = 'Problem logging in';
          }
          
          this.showMessage = true;
        })
        .finally(() => {
          loader.hide();
        });
    },
  },
  mounted() {
    if (this.$cookie.get('token')) {
      this.$router.push({ path: 'projects' });
    }
  },
  components: {
    alert: Alert,
  },
};
</script>
