<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h3>Research Projects</h3>
        <hr><br><br>
        <div class="container projects-container">
          <div v-for="project in projects" :key="project.id" class="row project-item"
          v-on:click="openProject(project)">
            <div class="col-sm-12"> <p class="project-title">{{ project.title }}</p> </div>
            <!--Institution details-->
            <div class="col-sm-12 institution-details">
              <p>{{ project.college }} | {{ project.school }} | {{ project.department }}</p>
            </div>
            <!--More project details-->
            <div class="col-sm-12 more-project-details">
              <p> {{ project.owner }} | Creation date | No of files</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'projects',
  data() {
    return {
      addProjectForm: {
        title: '',
      },
      projects: [],
      project: {
        id: '',
        title: '',
        college: '',
        school: '',
        department: '',
        owner: '',
      },
    };
  },
  methods: {
    openProject(project) {
      this.$router.push({ path: `projects/${project.id}` });
    },
  },
  mounted() {
    if (!this.$cookie.get('token')) {
      this.$router.push({ path: '/login' });
    }
    const path = `${process.env.VUE_APP_DATA_SERVER_BASE_URL}/projects`;
    const token = this.$cookie.get('token');

    const loader = this.$loading.show({ container: null });

    axios.get(path, { headers: { Authorization: `Bearer ${token}` } })
      .then((res) => {
        this.projects = res.data.projects;
      })
      .catch((err) => {
        console.log(err.response);
      })
      .finally(() => {
        loader.hide();
      });
  },
};
</script>

<style type="text/css">
.institution-details {
  font-size: 15px;
}
.more-project-details {
  font-size: 13px;
}
.project-item {
  border-bottom: 1px solid #b9c7c7 !important;
  margin: 5px;
}
.project-item:hover {
  cursor: pointer;
  background: #dadada;
}
.projects-container {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.project-title {
  font-weight: bold;
}
</style>
