<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h3>Research Data Files</h3>
        <hr><br><br>
        <div v-for="(file, index) in files" :key="index" class="row file-item">
          <div class="col-sm-10">
            <p class="filename">{{ file.name }}</p>
            <p>{{ file.size }} bytes</p>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-primary" @click="onDownloadFile(file)">Download</button>
          </div>
          <!--File details-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import downloads from './downloads.js';

export default {
  name: 'rFiles',
  data() {
    return {
      files: [],
      file: {
        id: '',
        name: '',
        size: '',
      },
    };
  },
  methods: {
    onDownloadFile(file) {
      const projectId = this.$route.params.id;
      const path = `${process.env.VUE_APP_DATA_SERVER_BASE_URL}/projects/${projectId}/${file.name}`;
      const token = this.$cookie.get('token');

      downloads.downloadFile(path, { headers: { Authorization: `Bearer ${token}` } }, 'file', 'key');
    },
  },
  mounted() {
    if (!this.$cookie.get('token')) {
      this.$router.push({ path: '/login' });
    }
    const projectId = this.$route.params.id;
    const path = `${process.env.VUE_APP_DATA_SERVER_BASE_URL}/projects/${projectId}`;
    const token = this.$cookie.get('token');

    const loader = this.$loading.show({ container: null });

    axios.get(path, { headers: { Authorization: `Bearer ${token}` } })
      .then((res) => {
        this.files = res.data.files;
        console.log(res.data.files);
      })
      .catch((err) => {
        console.log(err.response);
      })
      .finally(() => {
        loader.hide();
      });
  },
};
</script>

<style type="text/css">
.file-item {
  border-bottom: 1px solid #b9c7c7 !important;
  margin: 5px;
}
.file-item:hover {
  background: #f3f3f3;
}
.filename {
  font-weight: bold;
}
</style>
