<template>
  <div class="container">
    <div class="row">
      <h3>Sign Up</h3>
      <hr><br><br>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <alert :message="message" v-if="showMessage"></alert>
        <div class="signup">
          <b-form @submit="onSignUp" @reset="onSignUpReset" class="w-100">
            <!-- User name group -->
            <b-form-group id="form-name-edit-group"
                          label="Username:"
                          label-for="form-name-edit-input">
              <b-form-input id="form-name-edit-input"
                            type="text"
                            v-model="user.name"
                            required
                            placeholder="Enter Username">
              </b-form-input>
            </b-form-group>
            <!-- User email group -->
            <b-form-group id="form-email-edit-group"
                          label="Email:"
                          label-for="form-email-edit-input">
              <b-form-input id="form-email-edit-input"
                            type="email"
                            v-model="user.email"
                            pattern=".*@.*\..*"
                            title="e.g. johndoe@gmail.com"
                            required
                            placeholder="Enter Email">
              </b-form-input>
            </b-form-group>
            <!-- Department ID -->
            <b-form-group id="form-department-edit-group"
                          label="Institution: "
                          label-for="form-department-edit-input">
              <b-form-select @change="onChangeCollege" v-model="collegeId" :options="colleges" required>
                <template slot="first">
                  <option :value="null" disabled>Select college</option>
                </template>
              </b-form-select>
              <br><br>
              <b-form-select @change="onChangeSchool" v-model="schoolId" :options="schools"
              :disabled="schoolSelectDisabled" required>
                <template slot="first">
                  <option :value="null" disabled>Select school</option>
                </template>
              </b-form-select>
              <br><br>
              <b-form-select v-model="departmentId" :options="departments"
              :disabled="departmentSelectDisabled" required>
                <template slot="first">
                  <option :value="null" disabled>Select department</option>
                </template>
              </b-form-select>
            </b-form-group>
            <!-- User password group -->
            <b-form-group id="form-password-edit-group"
                          label="Password:"
                          label-for="form-password-edit-input">
              <b-form-input id="form-password-edit-input"
                            type="password"
                            v-model="user.password"
                            required
                            placeholder="Enter Password">
              </b-form-input>
            </b-form-group>

            <b-button class="b-form-button" type="submit" variant="primary">Sign up</b-button>
            <b-button class="b-form-button" type="reset">Reset</b-button>
          </b-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Alert from './Alert.vue';

export default {
  name: 'signup',
  data() {
    return {
      user: {
        name: '',
        email: '',
        password: '',
      },
      collegeId: '',
      colleges: [],
      schoolId: '',
      schools: [],
      departmentId: '',
      departments: [],
      schoolSelectDisabled: true,
      departmentSelectDisabled: true,
      message: '',
      showMessage: false,
    };
  },
  methods: {
    onSignUp(evt) {
      evt.preventDefault();
      const user = {
        name: this.user.name,
        email: this.user.email,
        password: this.user.password,
        department_id: this.departmentId,
      };
      this.signUp(user);
    },
    onSignUpReset(evt) {
      evt.preventDefault();
      this.name = '';
      this.email = '';
      this.password = '';
      this.department_id = '';
    },
    signUp(user) {
      const path = `${process.env.VUE_APP_PKG_SERVER_BASE_URL}/researchers`;
      const loader = this.$loading.show({ container: null });

      axios.post(path, user)
        .then((res) => {
          this.$cookie.set('token', res.data.token);
          this.$parent.isLoggedOut = false;
          this.$router.push({ path: 'projects' });
        })
        .catch((err) => {
          console.log(err.response);
          if (err.response.status == 409) {
            this.message = 'User by that email already exists';
          } else {
            this.message = 'Problem Signing Up';
          }
          
          this.showMessage = true;
        })
        .finally(() => {
          loader.hide();
        });
    },
    loadColleges() {
      const path = `${process.env.VUE_APP_PKG_SERVER_BASE_URL}/colleges`;
      const loader = this.$loading.show({ container: null });

      axios.get(path)
        .then((res) => {
          this.colleges = res.data.colleges.map((college) => {
            return { 'value': college.id, 'text': college.name }
          });
        })
        .catch((err) => {
          console.log(err.response);
        })
        .finally(() => {
          loader.hide();
        });
    },
    onChangeCollege() {
      if (this.collegeId) {
        this.loadSchools(this.collegeId);
      }
    },
    loadSchools(collegeId) {
      const path = `${process.env.VUE_APP_PKG_SERVER_BASE_URL}/colleges/${collegeId}/schools`;
      const loader = this.$loading.show({ container: null });

      axios.get(path)
        .then((res) => {
          this.schools = res.data.schools.map((school) => {
            return { 'value': school.id, 'text': school.name }
          });
          this.schoolSelectDisabled = false;
        })
        .catch((err) => {
          console.log(err.response);
        })
        .finally(() => {
          loader.hide();
        });
    },
    onChangeSchool() {
      if (this.schoolId) {
        this.loadDepartments(this.schoolId);
      }
    },
    loadDepartments(schoolId) {
      const path = `${process.env.VUE_APP_PKG_SERVER_BASE_URL}/schools/${this.schoolId}/departments`;
      const loader = this.$loading.show({ container: null });

      axios.get(path)
        .then((res) => {
          this.departments = res.data.departments.map((department) => {
            return { 'value': department.id, 'text': department.name }
          });
          this.departmentSelectDisabled = false;
        })
        .catch((err) => {
          console.log(err.response);
        })
        .finally(() => {
          loader.hide();
        });
    }
  },
  mounted() {
    if (this.$cookie.get('token')) {
      this.$router.push({ path: 'projects' });
    }
    // Fetch colleges
    this.loadColleges();
  },
  components: {
    alert: Alert,
  },
};
</script>
