<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>My Projects</h3>
        <hr><br><br>
        <button type="button" class="btn btn-success btn-sm"
        v-b-modal.add-project-modal>Create Project</button>
        <br><br>
        <div class="container projects-container">
          <div v-for="project in projects" :key="project.id" class="row your-project-item">
            <div class="col-sm-12"> <p class="project-title"
            v-on:click="openYourProject(project)">{{ project.title }}</p> </div>
            <!--Institution details-->
            <div class="col-sm-10 institution-details">
              <p>{{ project.college }} | {{ project.school }} | {{ project.department }}</p>
            </div>
            <!--More project details-->
            <!-- <div class="col-sm-10 more-project-details">
              <p> {{ project.owner }} | Access Control: ({{ project.actions }} for {{ project.abac_institutions }}</p>
            </div> -->
            <div class="col-sm-2 btn-group" role="group">
              <button class="btn btn-warning" v-b-modal.update-project-modal
              @click="onUpdateProject(project)">Update</button>
              <button class="btn btn-danger"
              @click="onDeleteProject(project)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal ref="updateProjectModal"
         id="update-project-modal"
         title="Update research project info"
         hide-footer>
      <b-form @submit="updateProject" @reset="clearProjectUpdateInfo" class="w-100">
        <b-form-group id="form-title-group"
                      label="Title:"
                      label-for="form-title-input">
          <b-form-input id="form-title-input"
                        type="text"
                        v-model="updateProjectForm.title"
                        required
                        placeholder="Enter title">
          </b-form-input>
        </b-form-group>

        <!-- Project Policy -->
        <b-form-group id="form-policy-group"
                      label="Policy:"
                      label-for="form-policy-input">
          <!-- Policy actions -->
          <b-form-group id="form-action-group"
                      label="Action:"
                      label-for="form-action-input">
            <b-form-checkbox
              id="view"
              v-model="updateProjectForm.actions"
              name="view"
              value="view"
            >
              View
            </b-form-checkbox>

            <b-form-checkbox
              id="download"
              v-model="updateProjectForm.actions"
              name="download"
              value="download"
            >
              Download
            </b-form-checkbox>
          </b-form-group>

          <!-- Policy Subject Attr -->
          <b-form-group id="form-department-edit-group"
                          label="Institution: "
                          label-for="form-department-edit-input">
              <b-form-select @change="onChangeCollege" v-model="collegeId" :options="colleges">
                <template slot="first">
                  <option :value="null" disabled>Select college</option>
                  <option value="any">Any</option>
                </template>
              </b-form-select>
              <br><br>
              <b-form-select @change="onChangeSchool" v-model="schoolId" :options="schools"
              :disabled="schoolSelectDisabled">
                <template slot="first">
                  <option :value="null" disabled>Select school</option>
                  <option value="any">Any</option>
                </template>
              </b-form-select>
              <br><br>
              <b-form-select v-model="departmentId" :options="departments"
              :disabled="departmentSelectDisabled">
                <template slot="first">
                  <option :value="null" disabled>Select department</option>
                  <option value="any">Any</option>
                </template>
              </b-form-select>
            </b-form-group>
        </b-form-group>
          
        <b-button type="submit" variant="primary">Update project</b-button>
        <b-button type="reset" style="margin-left: 5px">Clear</b-button>
      </b-form>
    </b-modal>

    <!-- Add Project -->
    <b-modal ref="addProjectModal"
         id="add-project-modal"
         title="Add a new research project"
         hide-footer>
      <b-form @submit="onAddProject" @reset="onClearProject" class="w-100">
        <!-- Project Title -->
        <b-form-group id="form-title-group"
                      label="Title:"
                      label-for="form-title-input">
          <b-form-input id="form-title-input"
                        type="text"
                        v-model="addProjectForm.title"
                        required
                        placeholder="Enter title">
          </b-form-input>
        </b-form-group>

        <!-- Project Policy -->
        <b-form-group id="form-policy-group"
                      label="Policy:"
                      label-for="form-policy-input">
          <!-- Policy actions -->
          <b-form-group id="form-action-group"
                      label="Action:"
                      label-for="form-action-input">
            <b-form-checkbox
              id="view"
              v-model="addProjectForm.actions"
              name="view"
              value="view"
            >
              View
            </b-form-checkbox>

            <b-form-checkbox
              id="download"
              v-model="addProjectForm.actions"
              name="download"
              value="download"
            >
              Download
            </b-form-checkbox>
          </b-form-group>

          <!-- Policy Subject Attr -->
          <b-form-group id="form-department-edit-group"
                          label="Institution: "
                          label-for="form-department-edit-input">
              <b-form-select @change="onChangeCollege" v-model="collegeId" :options="colleges">
                <template slot="first">
                  <option :value="null" disabled>Select college</option>
                  <option value="any">Any</option>
                </template>
              </b-form-select>
              <br><br>
              <b-form-select @change="onChangeSchool" v-model="schoolId" :options="schools"
              :disabled="schoolSelectDisabled">
                <template slot="first">
                  <option :value="null" disabled>Select school</option>
                  <option value="any">Any</option>
                </template>
              </b-form-select>
              <br><br>
              <b-form-select v-model="departmentId" :options="departments"
              :disabled="departmentSelectDisabled">
                <template slot="first">
                  <option :value="null" disabled>Select department</option>
                  <option value="any">Any</option>
                </template>
              </b-form-select>
            </b-form-group>
          </b-form-group>
        <b-button type="submit" variant="primary">Create project</b-button>
        <b-button type="reset" style="margin-left: 5px">Clear</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'myProjects',
  data() {
    return {
      collegeId: 'any',
      colleges: [],
      schoolId: 'any',
      schools: [],
      departmentId: 'any',
      departments: [],
      schoolSelectDisabled: true,
      departmentSelectDisabled: true,
      addProjectForm: {
        title: '',
        subjectAttribute: '',
        actions: [],
      },
      updateProjectForm: {
        id: '',
        title: '',
        actions: [],
        collegeId: '',
        schoolId: '',
        departmentId: '',
      },
      projects: [],
      project: {
        id: '',
        title: '',
        college: '',
        school: '',
        department: '',
        owner: '',
        actions: '',
        abac_institutions: '',
      },
    };
  },
  methods: {
    openYourProject(project) {
      this.$router.push({ path: `yourprojects/${project.id}` });
    },
    refreshProjects() {
      const path = `${process.env.VUE_APP_DATA_SERVER_BASE_URL}/yourprojects`;
      const token = this.$cookie.get('token');

      const loader = this.$loading.show({ container: null });
      axios.get(path, { headers: { Authorization: `Bearer ${token}` } })
        .then((res) => {
          console.log(res.data.projects);
          this.projects = res.data.projects;
        })
        .catch((err) => {
          console.log(err.response);
        })
        .finally(() => {
          loader.hide();
        });
    },
    onAddProject(evt) {
      evt.preventDefault();

      const researcher_attr = this.getResearcherAttr();

      const policy = {
        actions: this.addProjectForm.actions,
        researcher_attr: researcher_attr,
        verdict: true,
      };      

      const project = {
        title: this.addProjectForm.title,
        policies: [policy],
      };

      console.log(project);

      this.addProject(project);
    },
    addProject(project) {
      const path = `${process.env.VUE_APP_DATA_SERVER_BASE_URL}/projects`;
      const token = this.$cookie.get('token');

      const loader = this.$loading.show({ container: null });

      axios.post(path, project, { headers: { Authorization: `Bearer ${token}` } })
        .then((res) => {
          console.log(res.data);
          this.refreshProjects();
        })
        .catch((err) => {
          console.log(err.response);
        })
        .finally(() => {
          this.$refs.addProjectModal.hide();
          this.resetFormInput();
          loader.hide();
        });
    },
    onClearProject(evt) {
      evt.preventDefault();
      this.resetFormInput();
    },
    resetFormInput() {
      this.addProjectForm.title = '';
      this.colleges = [];
      this.schools = [];
      this.departments = [];
      this.actions = [];
    },
    onUpdateProject(project) {
      this.updateProjectForm.id = project.id;
      this.updateProjectForm.title = project.title;
      this.updateProjectForm.actions = project.actions;
    },
    updateProject(evt) {
      evt.preventDefault();
      const token = this.$cookie.get('token');
      const path = `${process.env.VUE_APP_DATA_SERVER_BASE_URL}/projects/${this.updateProjectForm.id}`;

      const researcher_attr = this.getResearcherAttr();

      const policy = {
        actions: this.updateProjectForm.actions,
        researcher_attr: researcher_attr,
        verdict: true,
      };      

      const project = {
        title: this.updateProjectForm.title,
        policies: [policy],
      };

      const loader = this.$loading.show({ container: null });

      axios.put(path, project, { headers: { Authorization: `Bearer ${token}` } })
        .then(() => {
          console.log('Successful update');
          this.$refs.updateProjectModal.hide();
          this.resetProjectUpdateForm();
          this.refreshProjects();
        })
        .catch((err) => {
          console.log(err.response);
        })
        .finally(() => {
          loader.hide();
        });
    },
    onDeleteProject(project) {
      const token = this.$cookie.get('token');
      const path = `${process.env.VUE_APP_DATA_SERVER_BASE_URL}/projects/${project.id}`;

      const loader = this.$loading.show({ container: null });

      axios.delete(path, { headers: { Authorization: `Bearer ${token}` } })
        .then(() => {
          console.log('Successful deletion');
          this.refreshProjects();
        })
        .catch((err) => {
          console.log(err.response);
        })
        .finally(() => {
          loader.hide();
        });
    },
    clearProjectUpdateInfo(evt) {
      evt.preventDefault();
      this.resetProjectUpdateForm();
    },
    resetProjectUpdateForm() {
      this.updateProjectForm.id = '';
      this.updateProjectForm.title = '';
      this.colleges = [];
      this.schools = [];
      this.departments = [];
      this.collegeComboboxDisabled = true;
      this.schoolComboboxDisabled = true;
      this.departmentComboboxDisabled = true;
      this.subjectAttribute = '';
      this.actions = [];
    },
    getResearcherAttr() {
      return {
        college: this.collegeId,
        school: this.schoolId,
        department: this.departmentId
      };
    },
    loadColleges() {
      const path = `${process.env.VUE_APP_PKG_SERVER_BASE_URL}/colleges`;
      const loader = this.$loading.show({ container: null });

      axios.get(path)
        .then((res) => {
          this.colleges = res.data.colleges.map((college) => {
            return { 'value': college.id, 'text': college.name }
          });
        })
        .catch((err) => {
          console.log(err.response);
        })
        .finally(() => {
          loader.hide();
        });
    },
    onChangeCollege() {
      if (this.collegeId && this.collegeId !== 'any') {
        this.loadSchools(this.collegeId);
      }
    },
    loadSchools(collegeId) {
      const path = `${process.env.VUE_APP_PKG_SERVER_BASE_URL}/colleges/${collegeId}/schools`;
      const loader = this.$loading.show({ container: null });

      axios.get(path)
        .then((res) => {
          this.schools = res.data.schools.map((school) => {
            return { 'value': school.id, 'text': school.name }
          });
          this.schoolSelectDisabled = false;
        })
        .catch((err) => {
          console.log(err.response);
        })
        .finally(() => {
          loader.hide();
        });
    },
    onChangeSchool() {
      if (this.schoolId && this.schoolId !== 'any') {
        this.loadDepartments(this.schoolId);
      }
    },
    loadDepartments(schoolId) {
      const path = `${process.env.VUE_APP_PKG_SERVER_BASE_URL}/schools/${this.schoolId}/departments`;
      const loader = this.$loading.show({ container: null });

      axios.get(path)
        .then((res) => {
          this.departments = res.data.departments.map((department) => {
            return { 'value': department.id, 'text': department.name }
          });
          this.departmentSelectDisabled = false;
        })
        .catch((err) => {
          console.log(err.response);
        })
        .finally(() => {
          loader.hide();
        });
    },
  },
  mounted() {
    if (!this.$cookie.get('token')) {
      this.$router.push({ path: '/login' });
    }
    this.refreshProjects();
    // Fetch colleges
    this.loadColleges();
  },
};
</script>

<style type="text/css">
.institution-details {
  font-size: 15px;
}
.more-project-details {
  font-size: 13px;
}
.your-project-item {
  border-bottom: 1px solid #b9c7c7 !important;
  margin: 5px;
}
.your-project-item:hover {
  background: #f3f3f3;
}
.projects-container {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.project-title {
  font-weight: bold;
}
.project-title {
  cursor: pointer;
}
</style>
