<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h3>Research Data Files</h3>
        <hr><br><br>
        <label>
          File
          <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
        </label>
        <button type="button" class="btn btn-success btn-sm" v-on:click="submitFile()">Upload file</button>
        <br>
        <br>
        <div v-for="(file, index) in files" :key="index" class="row your-file-item">
          <div class="col-sm-9">
            <p class="filename">{{ file.name }}</p>
            <p>{{ file.size }} bytes</p>
          </div>
          <div class="col-sm-3 btn-group" role="group">
            <button class="btn btn-primary" v-on:click="onDownloadFile(file)">Download</button>
            <button class="btn btn-danger" v-on:click="onDeleteFile(file)">Delete</button>
          </div>
          <!--File details-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import downloads from './downloads.js';
import aesjs from 'aes-js';
import aes from './aes_in_js';
import ibe from './ibe_rsa';

export default {
  name: 'yourFiles',
  data() {
    return {
      files: [],
      raw_file: '',
      file: {
        id: '',
        name: '',
        size: '',
      },
    };
  },
  methods: {
    handleFileUpload() {
      this.raw_file = this.$refs.file.files[0];
    },
    submitFile() {
      const token = this.$cookie.get('token');
      
      const formData = new FormData();
      const fileReader = new FileReader();

      fileReader.onload = (evt) => {
        const fileBytes = new Uint8Array(fileReader.result);
        console.log(`File Bytes: ${fileBytes}`);

        // Generate AES Key
        const key = aes.generateAesKey();
        console.log(`AESKey: ${aesjs.utils.utf8.fromBytes(key)}`);

        // Encrypt File Bytes
        const encryptedFileBytes = aes.encryptMessage(key, fileBytes);

        console.log(`encryptedFileBytes: ${aesjs.utils.hex.fromBytes(encryptedFileBytes)}`);

        // Encrypt AES Key
        const path = `${process.env.VUE_APP_PKG_SERVER_BASE_URL}/public_key/rsa`;
        const headers = { headers: { 'Authorization': `Bearer ${token}` } };
        axios.post(path, { id: 'server@dserver.com' }, headers)
          .then((res) => {
            const publicParam = BigInt(res.data.public_params.rsa.n);
            const publicKey = BigInt(res.data.pub_key);

            // Encrypt AES Key
            const encryptedKey = ibe.encrypt_using_rsa(key, publicKey, publicParam);

            console.log(`encryptedKey: ${encryptedKey}`);
            
            // console.log(`Upload enc_file: ${encData} and enc_key: ${encKey}`);
            // TODO: Use the File API from browser
            const encryptedFile = new File([encryptedFileBytes], this.raw_file.name);
            console.log(encryptedFile);
            this.uploadFile(encryptedFile, encryptedKey);
          })
          .catch((err) => {console.log(err.response)});
      };
    
      fileReader.readAsArrayBuffer(this.raw_file);
    },
    uploadFile(encrypted_file, encrypted_key) {
      const formData = new FormData()
      formData.append('files', encrypted_file);
      formData.append('key', encrypted_key);


      const projectId = this.$route.params.id;
      const token = this.$cookie.get('token');
      const path = `${process.env.VUE_APP_DATA_SERVER_BASE_URL}/projects/${projectId}`;

      const loader = this.$loading.show({ container: null });

      axios.post(path, formData, {headers: {'Content-Type': 'multipart/form-data', Authorization: `Bearer ${token}`}})
        .then((res) => {
          console.log('Successful uploaded. }}(-_-){{');
          this.refreshFiles();
          this.$refs.file.value = '';
        })
        .catch((err) => {
          console.log(err.response);
        })
        .finally(() => {
          loader.hide();
        });
    },
    refreshFiles() {
      const projectId = this.$route.params.id;
      const path = `${process.env.VUE_APP_DATA_SERVER_BASE_URL}/projects/${projectId}`;
      const token = this.$cookie.get('token');

      const loader = this.$loading.show({ container: null });

      axios.get(path, { headers: { Authorization: `Bearer ${token}` } })
        .then((res) => {
          this.files = res.data.files;
        })
        .catch((err) => {
          console.log(err.response);
        })
        .finally(() => {
          loader.hide();
        });
    },
    onDownloadFile(file) {
      const projectId = this.$route.params.id;
      const path = `${process.env.VUE_APP_DATA_SERVER_BASE_URL}/projects/${projectId}/${file.name}`;
      const token = this.$cookie.get('token');

      downloads.downloadFile(path, { headers: { Authorization: `Bearer ${token}` } }, 'file', 'key');
    },
    onDeleteFile(file) {
      const projectId = this.$route.params.id;
      const path = `${process.env.VUE_APP_DATA_SERVER_BASE_URL}/projects/${projectId}/${file.name}`;
      const token = this.$cookie.get('token');

      axios.delete(path, { headers: { Authorization: `Bearer ${token}` } })
        .then(() => {
          console.log('Successul deletion');
          this.refreshFiles();
        })
        .catch((err) => {
          console.log(err.response);
        });
    },
  },
  mounted() {
    if (!this.$cookie.get('token')) {
      this.$router.push({ path: '/login' });
    }
    this.refreshFiles();
  },
};
</script>

<style type="text/css">
.your-file-item {
  border-bottom: 1px solid #b9c7c7 !important;
  margin: 5px;
}
.your-file-item:hover {
  background: #f3f3f3;
}
.filename {
  font-weight: bold;
}
</style>
