<template>
  <div id="app" class="container-fluid">
    <div class="row">
      <div id="nav" class="col-md-2 col-sm-12">
        <div v-if="isLoggedOut">
          <p> <router-link to="/">Home</router-link> </p>
          <p> <router-link to="/signup">Signup</router-link> </p>
          <p> <router-link to="/login">Login</router-link> </p>
        </div>
        <div v-else >
          <!-- User Info Area -->
          <div id="user-info" style="border-bottom: 1px solid white; margin-bottom: 10px">
            <div style="margin-bottom: 20px">
              <center><img src="@/assets/user.svg" width="70%"></center>
            </div>
            <div>
              <p>Name: {{ $cookie.get('name') }}</p>
              <p> {{ $cookie.get('college') }} >> {{ $cookie.get('school') }} >>
               {{ $cookie.get('department') }} </p>
            </div>  
          </div>
          
          <p> <router-link to="/">Home</router-link> </p>
          <p> <router-link to="/projects">Browse Projects</router-link> </p>
          <p> <router-link to="/yourprojects">Your Projects</router-link> </p>
          <p class="logout" v-on:click="logout"> Logout </p>
        </div>
      </div>
      <div class="main-content col-md-10 col-sm-12">
        <router-view/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      isLoggedOut: true,
    };
  },
  methods: {
    logout() {
      console.log('Logging out');
      console.log(this.$cookie);
      this.$cookie.delete('token');
      this.isLoggedOut = true;
      this.$router.push({ path: '/login' });
    },
  },
  mounted() {
    console.log('Mounted App');
    const token = this.$cookie.get('token');
    if (token) {
      this.isLoggedOut = false;
    }
  },
};
</script>

<style>

html {
  height: 100%;
}

body {
  font-size: 15px;
}

#app {
  height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b-form-button {
  margin-right: 20px;
}

.btn-group {
  height: fit-content;
}

.btn {
  padding: 2px;
}

.logout {
  font-weight: bold;
}

.logout:hover {
  cursor: pointer;
}

.main-content {
  padding: 2%;
  overflow-y: scroll;
}

/*Desktop*/
@media (min-width:768px) {
  .main-content {
    height: 100vh;
  }
}

#nav {
  padding: 30px;
  background-color: black;
  color: white;
}

@media (min-height: 768px) {
    #nav {
        height: inherit;
    }
}

#nav a {
  font-weight: bold;
  color: white;
}

#nav a.router-link-exact-active {
  color: white;
}
</style>
